 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 /*padding: 45px 60px;*/
 min-width: 280px;
 width: 350px;
 min-height: 190px;
 height: 250px;
}
 
.whitepaper-inner {
 
}
 
.dao-modal-inner {
 
}
 
.whitepaper-title {
 font-size: 32px;
 font-weight: 600;
 width: 100%;
 text-align: center;
}
 
.dao-modal-title {
 padding-top: 15px;
 font-size: 24px;
 font-weight: 600;
 width: 98%;
 text-align: center;
}
 
.dao-cancel{
 cursor : pointer;
 position:absolute;
 right: 0;
}
 
.whitepaper-items {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 margin-top: 30px;
}
 
.whitepaper-item {
 display: flex;
 font-weight: 500;
 margin: 0 10px;
 text-decoration: underline;
}
 
.whitepaper-title {
 font-size: 22px;
}
 
.whitepaper-title span {
 font-size: 11.5px;
}
 
.dao-modal-title span {
 font-size: 11.5px;
}
 
.whitepaper-item:hover {
 text-decoration: none;
}
 
#whitepaper .fancybox-slide--html .fancybox-close-small {
 top: -8px !important;
}
 
.comming-soon .whitepaper-title {
 font-size: 22px;
}
 
.pop-up-form-item {
 position: relative;
}
 
.pop-up-form-input {
 font-family: 'Inter';
 width: 100%;
