@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
       url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
       url("../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
       url("../fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
       url("../fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
       url("../fonts/Inter-Black.woff") format("woff");
}

html * {
    max-height: 1000000px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    outline-style: none;
}

html,
body {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #F0F6FF;
    font-size: 18px;
    color: #252525;
    overflow-x: hidden;
    font-family: 'Inter';
    color: #06023F;
    /*height: 100000px;*/
}

li {
    list-style: none;
}

a img {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    background: none !important;
}

input,
select,
button {
    outline: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-appearance: none;
}

textarea {
    outline: none;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

h1 {
    font-size: inherit;
}

.row {
    float: left;
    position: relative;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1525px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear {
    clear: both;
}

.main-btn {
    display: inline-block;
    border: none;
    border-radius: 11px;
    color: #fff;
    background-color: #06023F;
    padding: 14px 33px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.main-btn:hover {
    background-color: #00BAC4;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*GATE*/

.gate-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    /*top: 0;*/
    background-color: #fff;
    z-index: 6;
}

.gate-overlay.hide, .gate-wrap.hide {
    z-index: 0;
    opacity: 0;
}

.gate-wrap {
    position: fixed;
    /*top: 0;*/
    width: 100%;
    background-repeat: no-repeat;
    /*height: 1625px;*/
    height: 100vh;
    z-index: 10;
}

.gate-left {
    position: absolute;
    background-image: url(../img/gate_left.png);
    background-repeat: repeat-y;
    left: 0;
    width: 53%;
    height: 1625px;
    background-size: 100%;
    z-index: 6;
    background-position: top right;
}

.gate-center {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.gate-logo {
    position: absolute;
    background-image: url(../img/gate-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 360px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 7;
}

.gate-left.left {
    animation: animLeft 2s ease-in-out;
    left: -60%;
}

.gate-logo.center {
    animation: animCenter 2s ease-in-out;
    left: -130%;
}

.gate-right.right {
    animation: animRight 2s ease-in-out;
    right: -64%;
}

@keyframes animLeft {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  100% {
    left: -60%;
  }
}

@keyframes animRight {
  0% {
    right: 0;
  }
  20% {
    right: 0;
  }
  100% {
    right: -64%;
  }
}

@keyframes animCenter {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  100% {
    left: -130%;
  }
}

.gate-right {
    position: absolute;
    background-image: url(../img/gate_right.png);
    background-repeat: repeat-y;
    right: 0;
    width: 51%;
    height: 1625px;
    background-size: 102%;
    z-index: 6;
}

/*HEADER*/

.header {
    position: absolute;
    width: 100%;
    z-index: 5;
    transition: 0.3s;
}

.header .container {
    max-width: 1420px;
}

#header.fixed {
    /*position: fixed;*/
    transition: 0.3s;
}

.header-wrap {
    position: relative;
    background-color: rgba(255,255,255,.8);
    width: 100%;
    padding: 15px 0;
    border-bottom: 2px solid rgba(0,242,255,.4);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    transition: 0.3s;
}

.logo img {
    display: flex;
    max-width: 108px;
    max-height: 122px;
    width: 100%;
    transition: 0.3s;
}

.logo:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.menu {
    /*margin-left: -45px;*/
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li {
    display: flex;
}

.menu ul li a {
    display: flex;
    margin: 0 20px;
    font-weight: 600;
    font-size: 19px;
    font-weight: 800;
    color: #06023F;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #00BAC4;
    transition: 0.3s;
}

.header-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.7);
    /*max-width: 1010px;*/
    max-width: 225px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /*margin-left: -111px;*/
    margin-left: -65px;
    padding: 20px 0 28px;
}

.header-numbers-item {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    /*margin: 0 54px;*/
}

.header-numbers-item span {
    display: block;
    font-size: 14px;
    /*margin-top: 3px;*/
}

#count .countWrap {
    display: flex;
}

#count.countdownHolder {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}

#count .digit {
    font-size: 30px;
    font-weight: 500;
    text-shadow: none;
    margin-top: 0;
    height: 32px;
    width: 18px;
}

#count .position {
    height: 32px;
    width: 18px;
}

#count .header-days {
    font-size: 28px;
    line-height: 28px;
    margin-left: 7px;
}

/*MOBILE*/

.mobile-btn {
    display: none;
}

.mobile-btn img {
    display: flex;
    width: 50px;
    height: 50px;
}

.btn-close {
    position: absolute;
    right: 30px;
    top: 30px;
    text-align: right;
    color: #fff;
    cursor: pointer;
}

.btn-close img {
    width: 60px;
}

.mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
}

.mobile_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay {
    position: absolute;
    width: 70%;
    right: 0;
    background-color: #fff;
    overflow: auto;
    height: 100%;
    z-index: 999;
}

.mobile-wrap {
    color: #252525;
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
}

.mobile-menu {
    /*padding-bottom: 25px;*/
}

.logo-mob {
    text-align: left;
    padding: 20px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo-mob .logo img {
    /*width: 231px;*/
    /*height: 45px;*/
}

.mobile-menu-wrap {
    margin-top: 35px;
    text-align: left;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-top: 35px;
}

.mobile-menu a {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 35px;
    font-weight: 500;
}

.contacts-mob .main-btn {
    width: 100%;
    background-color: #FF3838;
    color: #fff;
    border-color: #FF3838;
}

.contacts-mob .main-btn:hover {
    background: none;
    border-color: #fff;
}

.header-mob-btn-wrap {
    text-align: left;
}

.header-mob-btn-wrap .main-btn {
    margin-top: 30px;
}

/*BANNER*/

.banner {
    position: relative;
    height: 100vh;
    min-height: 700px;
    max-height: 1500px;
    width: 100%;
    overflow: hidden;
}

.banner-space {
    position: absolute;
    height: 72%;
    width: 100%;
    background-image:url(../img/bg-space.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-mars {
    position: absolute;
    height: 65%;
    width: 100%;
    top: 10%;
    background-image:url(../img/bg-mars.png);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-main {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

.banner-main img {
    width: 100%;
    max-width: 1800px;
}

.banner-bottom {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-image: url(../img/bg-bottom.png);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
}

.banner-ill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: url(../img/bg-ill.png);
    background-size: 101% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 3;
}

.banner .container {
    height: 100%;
}

.banner-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.banner-btn-wrap {
    position: absolute;
    bottom: 170px;
    left: 105px;
    display: flex;
    align-items: center;
}

.banner-btn-wrap .main-btn {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    padding: 35px 132px;
    border-radius: 20px;
    z-index: 3;
}

.bg-btn {
    position: absolute;
    margin-left: -250px;
    margin-top: -100px;
    z-index: 2;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.banner-btn.hover {
    background-color: #00BAC4;
}

/*ABOUT*/

.about {
    position: relative;
    padding-top: 78px;
    padding-bottom: 150px;
    background-color: #F0F6FF;
}

.about-inner {
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/about-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.about-light {
    position: absolute;
    top: -46px;
}

.about-light-left {
    left: -60px;
}

.about-light-right {
    right: -60px;
}

.about-light img {

}

.about-title {
    font-size: 38px;
    font-weight: 700;
    padding-top: 43px;
    margin-right: 74px;
    text-align: right;
}

.about-text {
    font-size: 25px;
    line-height: 32px;
    font-weight: 600;
    text-align: right;
    margin-top: 40px;
    margin-right: 82px;
    letter-spacing: 3.2px;
}

.about-items-wrap {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 82px;
}

.about-items {
    width: 47%;
}

.about-items-left {
    
}

.about-items-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.about-item {
    width: 100%;
}

.about-items-left .about-item:first-child {
    margin-bottom: 75px;
}

.about-items-right .about-item:first-child {
    margin-bottom: 28px;
}

.about-item-line {
    width: 100%;
    height: 2px;
    background-color: #06023F;
}

.about-item-text {
    font-size: 24px;
    font-weight: 600;
    margin-top: 26px;
}

.about-item-img {
    padding-bottom: 65px;
}

.about-item-img img {
    width: 100%;
}

/*TOKENS*/

.tokens {
    position: relative;
}

.tokens-wrap {
    position: relative;
    padding-top: 70px;
    max-width: 1920px;
    margin: auto;
    background-color: #fafcff;
}

.tokens-bg {
    position: absolute;
    top: -535px;
    right: 0;
}

.tokens-bg img {

}

.tokens-title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.tokens-items {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.token-item {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 385px;
    height: 420px;
    text-align: center;
}

.token-item-1 {
    background-image: url(../img/token-1.png);
}

.token-item-2 {
    background-image: url(../img/token-2.png);
    margin: 0 30px;
}

.token-item-3 {
    background-image: url(../img/token-3.png);
}

.token-item-title {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    margin-top: 38px;
}

.token-item-text {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 0 70px;
    margin-top: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token-item-num {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 50px;
}

.token-item-num span {
    font-size: 26px;
}

.token-item-1 .token-item-num {
    color: #00A3FF;
}

.token-item-2 .token-item-num {
    color: #FF12C3;
}

.token-item-3 .token-item-num {
    color: #FF4206;
}

.tokens-text {
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 3.2px;
    padding-bottom: 70px;
}

.tokens-bg-top {
    background-image: url(../img/staking-bg-top.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 657px;
    position: absolute;
    top: -657px;
    width: 100%;
    z-index: 3;
}


/*DAO*/

.dao {

}

.dao-wrap {
    position: relative;
    max-width: 1920px;
    margin: auto;
    background-image: url(../img/dao-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 135px;
}

.dao-text {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.dao-btn-wrap {
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.dao-btn {
    font-size: 65px;
    font-weight: 700;
    position: relative;
    cursor:pointer;
    display: flex;
    background-image: url(../img/dao-btn-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 35px 90px;
    transition: 0.3s;
}

.dao-btn:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

.dao-bg-top {
    background-image: url(../img/staking-bg-bot.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 339px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.dao-bg-bot {
    background-image: url(../img/dao-bg-top.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 248px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

/*INFO*/

.info {
    position: relative;
}

.info-wrap {
    padding-top: 100px;
    max-width: 1920px;
    margin: auto;
    background-color: #FAFCFF;
}

.info .container {
    max-width: 1835px;
    margin: 0 0 0 auto;
    padding: 0;
}

.info-title {
    font-size: 40px;
    font-weight: 700;
    margin-left: 54px;
}

.info-inner {
    position: relative;
    display: flex;
    background-color: #06023F;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 37px;
}

.info-text {
    color: #fff;
    padding: 44px 0 37px 66px;
    text-transform: uppercase;
}

.info-text-sm {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 27px;
}

.info-text-md {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 22px;
}

.info-text-bg {
    font-size: 42px;
    font-weight: 500;
}

.info-text-sm span, .info-text-md span, .info-text-bg span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 13px;
}

.info-img {
    position: absolute;
    top: -178px;
    right: 0;
    z-index: 1;
}

.info-img img {

}

/*NEWS*/

.news {
    
}

.news-wrap {
    padding-top: 125px;
    max-width: 1920px;
    margin: auto;
    background-color: #FAFCFF;
}

.news-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-title {
    font-size: 40px;
    font-weight: 700;
}

.news-links {
    display: flex;
    align-items: center;
}

.news-links a {
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
    transition: 0.3s;
}

.news-links a:hover {
    color: #00BAC4;
    transition: 0.3s;
}

.news-list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.news-item {
    display: flex;
    width: 420px;
}

.news-item:nth-child(1), .news-item:nth-child(3) {
    cursor: auto;
}

.news-item-preview {
    width: 420px;
    height: 300px;
    border-radius: 20px;
    border-bottom: 6px solid #00F2FF;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: 0.3s;
}

.news-item-preview-title {
    color: #fff;
    text-align: right;
    padding-top: 20px;
    padding-right: 26px;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px black;
}

.news-item-preview-subtitle {
    color: #fff;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    padding-right: 26px;
    padding-top: 0px;
    text-shadow: 0px 0px 10px black;
}

.news-item-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    padding-right: 20px;
    padding-left: 10px;
    /*text-align: center;*/
    transition: 0.3s;
}

.news-item-title a {
    color: #01d8f0;
    transition: 0.3s;
    /*text-decoration: underline;*/
}

.news-item-title a:hover {
    text-decoration: underline;
}

.news-item-date {
    font-size: 16px;
    font-weight: 500;
    margin-top: 23px;
    padding-left: 10px;
}

.news-item:nth-child(2):hover .news-item-title {
    /*text-decoration: underline;*/
    color: #01d8f0;
    transition: 0.3s;
}

.news-item:nth-child(2):hover .news-item-title a {
    color: #06023F;
    transition: 0.3s;
}

.news-item:nth-child(2):hover .news-item-preview {
    background-size: 105%;
    transition: 0.3s;
}

.new-bg-bot {
    background-image: url(../img/log-bg-top.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
    height: 348px;
    max-width: 1920px;
    margin: -150px auto 0;
}

/*LOGO-TOKEN*/

.logo-token {
    /*padding: 348px 0 0;*/
    position: relative;
    /*background-color: #fafcff;*/
    
    /*margin-top: -26px;*/
    z-index: 2;
}

.logo-token-inner-wrap {
    position: relative;
    padding: 50px 0 35px;
    background-color: #fafcff;
    max-width: 1920px;
    margin: auto;
}

.logo-token-inner {
    position: relative;
    display: flex;
    z-index: 1;
}

.logo-token-text-wrap {

}

.logo-token-title {
    font-size: 40px;
    font-weight: 700;
}

.logo-token-subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.logo-token-list {
    margin-top: 35px;
    max-width: 700px;
}

.logo-token-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.logo-token-icon {

}

.logo-token-icon img {
    width: 36px;
    height: 33px;
}

.logo-token-text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 27px;
}

.logo-token-text br {
    display: none;
}

.logo-token-img {
    position: absolute;
    right: 0;
    bottom: -7px;
}

.logo-token-img img {
    max-width: 1000px;
}

/*ROAD-MAP*/

.road-map {
    position: relative;
    display: flex;
    z-index: 1;
    
    /*margin-top: -730px;*/
    
}

.road-map-inner {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 1350px;
    margin: auto;
    background-image: url(../img/road-map-bg-top.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.road-map-top {
    background-image: url(../img/road-map-bg-top.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
    height: 668px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.road-map-title {
    position: relative;
    margin-top: 160px;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    z-index: 1;
}

.road-map-bg-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/road-map-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
}

.road-map-bg-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1095px;
    background-image: url(../img/road-map-img.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    z-index: 1;
}

.road-map-slider-wrap {
    position: relative;
    margin: auto;
    width: 650px;
    height: 650px;
    background-image: url(../img/road-map-planet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    padding: 55px 0 0;
    z-index: 3;
}

.road-map-slider {
    max-width: 450px;
    margin: auto;
}

.road-map-slide {
    color: #00F2FF;
}

.road-map-slide-title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.road-map-slide-body {
    margin-top: 30px;
}

.road-map-slide-item {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 12px;
    padding-left: 35px;
    background-image: url(../img/list-style.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left top 7px;
}

.road-map-slider .slick-prev, .road-map-slider .slick-next {
    /*position: relative;*/
    top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 36px;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: pulse;
    z-index: 1;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

.road-map-slider .slick-prev {
    left: -10px;
    background-image: url(../img/prev.svg);
}

.road-map-slider .slick-next {
    right: -10px;
    background-image: url(../img/next.svg);
}

.road-map-slider .slick-prev:before, .road-map-slider .slick-next:before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 36px;
    /*background-color: #FD73FF;*/
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*opacity: 0.3;*/
}

.road-map-slider .slick-prev:before {
    animation-name: move-prev;
    background-image: url(../img/prev-hover.svg);
}

.road-map-slider .slick-next:before {
    animation-name: move-next;
}

@keyframes move-prev {
    from {
        right: 20px;
        opacity: 0.1;
    }
    to {
        right: 110px;
        opacity: 0.3;
    }
}

@keyframes move-next {
    from {
        left: 20px;
        opacity: 0.1;
    }
    to {
        left: 110px;
        opacity: 0.3;
    }
}

.road-map-slider .slick-prev:hover, .road-map-slider .slick-next:hover, .road-map-slider .slick-prev:hover:before, .road-map-slider .slick-next:hover:before {
    animation-play-state: paused;
}

.road-map-bot {
    background-image: url(../img/road-map-bg-bot.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    height: 668px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

/*MARKETPLACE*/

.marketplace {
    position: relative;
}

.marketplace-wrap {
    position: relative;
    max-width: 1920px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 200px;
    background-color: #fafcff;
}

.marketplace .container {
    position: relative;
    z-index: 2;
}

.marketplace-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.marketplace-inner {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.marketplace-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
    max-width: 326px;
}

.marketplace-item-bg {
    position: absolute;
    z-index: 2;
}

.marketplace-item-1 {
    box-shadow: 0 0 30px 5px rgb(221 6 6 / 50%);
    border-radius: 20px;
}

.marketplace-item-1 .marketplace-item-bg {
    left: -140px;
    top: -85px;
}

.marketplace-item-2 .marketplace-item-bg {
    left: -125px;
    top: 49px;
}

.marketplace-item-3 .marketplace-item-bg {
    left: -150px;
    top: -110px;
}

.marketplace-item-bg img {

}

.marketplace-item-down {
    position: absolute;
    bottom: -130px;
    left: -45px;
    z-index: 2;
}

.marketplace-item-down img {

}

.marketplace-item-preview {
    position: relative;
    width: 326px;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #fff;
    border-radius: 20px;
    z-index: 4;
}

.marketplace-item-1 .marketplace-item-preview {
    border-bottom: 6px solid #00AFF5;
}

.marketplace-item-2 .marketplace-item-preview {
    border-bottom: 6px solid #F500EB;
    background-size: 100%;
    background-position: center bottom 10px;
}

.marketplace-item-3 .marketplace-item-preview {
    border-bottom: 6px solid #8A8A8A;
}

.marketplace-item-text {
    position: relative;
    background-color: #fff;
    padding: 50px 20px 30px 20px;
    margin-top: -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
    transition: 0.3s;
}

.marketplace-item:hover .marketplace-item-text {
    background-color: #f1f1f1;
    transition: 0.3s;
}

.marketplace-item-title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.marketplace-item-subtitle {
    font-size: 22px;
    font-weight: 500;
    margin-top: 4px;
    text-align: center;
}

.marketplace-item-subtitle span {
    font-size: 18px;
    font-weight: 700;
}

/*GAMES*/

.games {
    position: relative;
    padding-bottom: 420px;
    background-image: url(../img/games.jpeg);
    background-repeat: no-repeat;
    padding-top: 130px;
}

.games-bg-top {
    background-image: url(../img/games-bg-top.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    height: 345px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.games-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.games-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}

.games-icon {

}

.games-icon-left {

}

.games-icon-right {

}

.games-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.games-inner-b {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.games-item {
    position: relative;
    display: flex;
    z-index: 3;
}

.games-item-preview {
    width: 480px;
    height: 310px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.games-btn {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    max-width: 480px;
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    background-color: #06023F;
    border-radius: 20px;
    margin-top: 15px;
    transition: 0.3s;
}

.games-item:hover .games-btn {
    background-color: #0f087d;
    transition: 0.3s;
}

.games-bg-bot {
    background-image: url(../img/games-bg-bot.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
    height: 690px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.games-item-hover .games-btn {
    background-color: #415fc0;
}

.games-item-hover .games-btn:hover {
    background-color: #06023F;
}

/*PARTNERS*/

.partners {
    /*padding-top: 181px;
    padding-bottom: 230px;
    background-color: #fff;*/
}

.partners-inner {
    padding-top: 181px;
    padding-bottom: 230px;
    background-color: #fff;
}

.partners-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.partners-list {
    display: flex;
    justify-content: center;
    margin-top: 61px;
}

.partners-list img {
    max-width: 124px;
    max-height: 151px;
    margin: 0 45px;
}

/*FOOTER*/

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.footer-inner {
    max-width: 1920px;
    width: 100%;
}

.footer-bg-top {
    background-image: url(../img/footer-bg-top.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    height: 345px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.footer-top {
    position: relative;
    width: 100%;
    height: 720px;
    background-image: url(../img/footer-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.footer-logo {
    text-align: center;
    padding-top: 40px;
}

.footer-logo img {

}

.footer-bg-bot {
    background-image: url(../img/footer-bg-bot.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
    height: 760px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.footer-bot {
    position: relative;
    padding-top: 30px;
    background-color: #fafcff;
}

.footer-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.footer-menu-item {
    font-size: 40px;
    font-weight: 700;
    margin: 0 30px;
    transition: 0.3s;
}

.footer-menu-item:hover {
    color: #00BAC4;
    transition: 0.3s;
}

.footer-soc {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.footer-soc-item {
    transition: 0.3s;
}

.footer-soc-item:hover {
    opacity: 0.9;
    transition: 0.3s;
}

.footer-copy {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 35px;
    z-index: 2;
}

/*POP-UP*/

.whitepaper {
    display: none;
    background: none;
    background-image: url(../img/connect-form-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
}

.dao-active-div{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.dao-active-display{
    display: none !important;
}

.dao-modal {
    display: block;
    position : relative;
    background-image: url(../img/connect-form-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 60;
    min-width: 280px;
    width: 350px;
    min-height: 190px;
    height: 280px;
}

.dao-modal-action{
    display: block !important;
}

.whitepaper-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*padding: 45px 60px;*/
    width: 280px;
    height: 190px;
}

.dao-modal-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*padding: 45px 60px;*/
    min-width: 280px;
    width: 350px;
    min-height: 190px;
    height: 250px;
}

.whitepaper-inner {

}

.dao-modal-inner {

}

.whitepaper-title {
    font-size: 32px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.dao-modal-title {
    padding-top: 15px;
    font-size: 24px;
    font-weight: 600;
    width: 98%;
    text-align: center;
}

.dao-cancel{
    position:absolute;
    right: 0;
}

.whitepaper-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.whitepaper-item {
    display: flex;
    font-weight: 500;
    margin: 0 10px;
    text-decoration: underline;
}

.whitepaper-title {
    font-size: 22px;
}

.whitepaper-title span {
    font-size: 11.5px;
}

.dao-modal-title span {
    font-size: 11.5px;
}

.whitepaper-item:hover {
    text-decoration: none;
}

#whitepaper .fancybox-slide--html .fancybox-close-small {
    top: -8px !important;
}

.comming-soon .whitepaper-title {
    font-size: 22px;
}

.pop-up-form-item {
    position: relative;
}

.pop-up-form-input {
    font-family: 'Inter';
    width: 100%;
    font-size: 24px;
    height: 42px;
    color: #000;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 10px 0px rgb(0 0 0 / 50%);
    padding-left: 15px;
}

.pop-up-form-input::-webkit-input-placeholder { color: #707070; font-size: 20px;}
.pop-up-form-input:-ms-input-placeholder { color: #707070; font-size: 20px;}
.pop-up-form-input::-ms-input-placeholder { color: #707070; font-size: 20px;}
.pop-up-form-input::placeholder { color: #707070; font-size: 20px;} 


.dao-input {
    font-family: 'Inter';
    width: 200px;
    font-size: 24px;
    height: 38px;
    color: #000;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 10px 0px rgb(0 0 0 / 50%);
    padding-left: 15px;
}

.dao-input::-webkit-input-placeholder { color: #707070; font-size: 20px;}
.dao-input:-ms-input-placeholder { color: #707070; font-size: 20px;}
.dao-input::-ms-input-placeholder { color: #707070; font-size: 20px;}
.dao-input::placeholder { color: #707070; font-size: 20px;} 

.pop-up-form-btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.pop-up-form-btn-inner {
    display: flex;
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

.pop-up-form-btn {
    background-color: #fff;
    border: 2px solid #BED8FA;
    box-shadow: inset 0 0 0 2px rgb(213 231 255);
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
    padding: 5px 50px;
    cursor: pointer;
    transition: 0.3s;
}

.pop-up-form-btn:hover {
    background-color: #D5E7FF;
    transition: 0.3s;
}

#thanx {
    display: none;
    text-align: center;
}

#thanx svg {
    max-width: 105px;
}

.thanx-text {
    font-size: 20px;
    font-weight: 500;
    margin: 0 49px;
    margin-bottom: -10px;
}

#comming-soon #email-error {
    position: absolute;
    bottom: 14px;
    color: #f26e6e;
    right: 15px;
    font-size: 12px;
    left: auto;
}


































/*ERROR*/

#name-error, #phone-error, #email-error {
    position: absolute;
    bottom: -25px;
    color: #f26e6e;
}

.contacts-form-item input.error {
    border-bottom-color: #f26e6e;
}

.success {
	display: none;
	position: absolute;
	bottom: 29px;
    font-weight: 500;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	color: #fff;
}

/*MEDIA*/

@media screen and (min-width: 1921px) {
    .tokens-bg {
        right: 0;
        left: 0;
        text-align: center;
    }
    .info .container {
        /*margin: auto;*/
    }
    .logo-token {
        background-size: auto;
    }
    .logo-token-img {
        /*left: 0;*/
        /*text-align: center;*/
        /*margin-right: -574px;*/
    }
    .road-map {
        background-size: auto;
    }
    .marketplace-bg {
        text-align: center;
    }
    .games {
        background-position: center;
    }
    .partners-inner {
        max-width: 1920px;
        margin: auto;
    }
    .gate-left {
        height: 2600px;
    }
    .gate-right {
        height: 2600px;
    }
    .gate-logo {
        width: 500px;
        height: 445px;
    }
}

@media screen and (min-width: 1100px) and (max-height: 1290px) {
    .banner-main img {
        max-width: 1400px;
    }
    .banner-btn-wrap .main-btn {
        font-size: 26px;
        padding: 30px 115px;
    }
    .bg-btn {
        max-width: 900px;
        margin-left: -240px;
        margin-top: -60px;
    }
    .banner-btn-wrap {
        bottom: 125px;
    }
}

@media screen and (min-width: 1100px) and (max-height: 1100px) {
    .banner-main img {
        max-width: 1100px;
    }
    .banner-btn-wrap {
        bottom: 90px;
    }
    .banner-btn-wrap .main-btn {
        font-size: 22px;
        padding: 24px 88px;
    }
    .bg-btn {
        max-width: 800px;
        margin-left: -226px;
        margin-top: -50px;
    }
}

@media screen and (min-width: 1100px) and (max-height: 950px) {
    .banner-main img {
        max-width: 900px;
    }
}

@media screen and (max-width: 1890px) {
    .header-numbers {
        position: absolute;
        left: 0;
        margin-left: 0;
    }
    .header .container {
        max-width: 1199px;
    }
    .logo img {
        max-width: 85px;
        max-height: 96px;
    }
    .menu ul li a {
        margin: 0 12px;
        font-size: 16px;
    }
    .header-btn-wrap .main-btn {
        font-size: 18px;
    }
    .header .container {
        max-width: 1125px;
    }
    .gate-left {
        height: 1230px;
    }
    .gate-right {
        height: 1230px;
    }
    .gate-left.left {
        animation: animLeft 2s ease-in-out;
        left: -58%;
    }
    .gate-right.right {
        animation: animRight 2s ease-in-out;
        right: -52%;
    }

    @keyframes animLeft {
      0% {
        left: 0;
      }
      20% {
        left: 0;
      }
      100% {
        left: -58%;
      }
    }

    @keyframes animRight {
      0% {
        right: 0;
      }
      20% {
        right: 0;
      }
      100% {
        right: -52%;
      }
    }
    .header-wrap {
        /*padding: 25px 0;*/
    }
    .header-numbers {
        padding: 20px 0 25px;
    }
    .banner {
        /*height: 1230px;*/
    }
    .banner-btn-wrap {
        /*bottom: 140px;*/
        /*left: 160px;*/
    }
    .about-inner {
        max-width: 1200px;
    }
    .about-title {
        /*margin-right: 120px;*/
    }
    .about-text {
        font-size: 18px;
        line-height: 25px;
    }
    .about-item-text {
        font-size: 18px;
        font-weight: 600;
        margin-top: 18px;
    }
    .about-items-wrap {
        /*margin-top: 90px;*/
    }
    .about-items-left {
        /*margin-left: 75px;*/
    }
    .about-items-right {
        /*margin-left: 140px;*/
    }
    .about-light-left {
        left: 0;
    }
    .about-light-right {
        right: 0;
    }
    .tokens-text {
        /*font-size: 26px;*/
    }
    .info .container {
        max-width: 1400px;
    }
    .news-item-preview {
        /*width: 440px;*/
    }
    .news-item {
        width: 440px;
    }
    .logo-token {
        /*padding-bottom: 755px;*/
    }
    .logo-token-img img {
        max-width: 900px;
    }
    .road-map {
        /*height: 1740px;*/
        /*margin-top: -915px;*/
    }
    .road-map-title {
        /*margin-top: 360px;*/
    }
    .marketplace-item {
        margin: 0 75px;
    }
    .games-item-preview {
        width: 440px;
        /*background-size: 106%;*/
    }
    .games {
        padding-bottom: 400px;
        background-position: center bottom;
    }
    .partners-list img {
        margin: 0 35px;
    }
    .info-img img {
        max-width: 1000px;
    }
    .info-img {
        top: -105px;
    }
    .gate-logo {
        width: 300px;
        height: 265px;
    }
    .footer-top {
        height: 530px;
        background-position: center bottom -60px;
    }
    .footer-logo img {
        width: 300px;
        height: 300px;
    }
    .footer-menu-item {
        font-size: 26px;
        margin: 0 20px;
    }
    .dao-btn {
        font-size: 50px;
        padding: 30px 75px;
    }
    .dao-btn-wrap {
        margin-top: 80px;
    }
    .dao-wrap {
        padding-top: 150px;
        padding-bottom: 130px;
    }

}

@media screen and (max-width: 1400px) {
    .gate-left {
        height: 1230px;
    }
    .gate-right {
        height: 1230px;
    }
    .gate-left.left {
        animation: animLeft 2s ease-in-out;
        left: -59%;
    }
    .gate-right.right {
        animation: animRight 2s ease-in-out;
        right: -51%;
    }

    @keyframes animLeft {
      0% {
        left: 0;
      }
      20% {
        left: 0;
      }
      100% {
        left: -59%;
      }
    }

    @keyframes animRight {
      0% {
        right: 0;
      }
      20% {
        right: 0;
      }
      100% {
        right: -51%;
      }
    }
    .banner-btn-wrap {
        left: 40px;
    }
    .banner {
        /*height: 1025px;*/
    }
    .banner-btn-wrap .main-btn {
        font-size: 26px;
        padding: 25px 105px;
    }
    .banner-btn-wrap {
        left: 135px;
        bottom: 115px;
    }
    .about-text {
        font-size: 20px;
        line-height: 35px;
        margin-top: 30px;
    }
    .about-items-wrap {
        margin-top: 60px;
    }
    .about-item-text {
        font-size: 18px;
    }
    .about-item-line {
        max-width: 420px;
    }
    .about-item-img img {
        margin-left: 0;
        max-width: 420px;
    }
    .about-item-img {
        padding-bottom: 70px;
    }
    .about-items-right .about-item:first-child {
        margin-bottom: 35px;
    }
    .about-items-right {
        margin-left: 165px;
    }
    .tokens-title {
        font-size: 40px;
    }
    .tokens-text {
        font-size: 20px;
        line-height: 35px;
        margin-top: 65px;
        padding-bottom: 70px;
    }
    .tokens-wrap {
        padding-top: 70px;
    }
    .dao-text {
        font-size: 25px;
    }
    .dao-wrap {
        padding-top: 110px;
        padding-bottom: 115px;
    }
    .dao-btn {
        font-size: 32px;
        padding: 22px 55px;
    }
    .dao-btn-wrap {
        margin-top: 55px;
    }
    .info-wrap {
        padding-top: 65px;
    }
    .info-title {
        font-size: 40px;
    }
    .info-img {
        top: -35px;
    }
    .info-img img {
        max-width: 800px;
    }
    .news {
        /*margin-top: 100px;*/
    }
    .news-item-preview {
        width: 100%;
        height: 285px;
    }
    .news-item {
        width: 380px;
    }
    .news-item-preview-title {
        padding-top: 15px;
        padding-right: 25px;
        font-size: 26px;
    }
    .news-item-preview-subtitle {
        padding-right: 25px;
    }
    .news-item-title {
        /*font-size: 22px;*/
        /*margin-top: 15px;*/
    }
    .news-item-date {
        margin-top: 12px;
    }
    .news-wrap {
        padding-top: 75px;
    }
    .news-title {
        font-size: 40px;
    }
    .new-bg-bot {
        margin-top: -245px;
    }
    .logo-token-title {
        font-size: 40px;
    }
    .logo-token-inner-wrap {
        padding: 65px 0 45px;
    }
    .logo-token-text br {
        /*display: none;*/
    }
    .logo-token-img img {
        max-width: 850px;
    }
    .logo-token {

    }
    .road-map-title {
        font-size: 40px;
        margin-top: 105px;
    }
    .road-map {

    }
    .road-map-slider-wrap {
        /*width: 900px;*/
        /*height: 900px;*/
    }
    .road-map-slider {
        /*max-width: 600px;*/
    }
    .road-map-slide-item {
        /*font-size: 20px;*/
        /*margin-bottom: 15px;*/
    }
    .road-map-slider .slick-prev, .road-map-slider .slick-next {
        /*top: 26px;*/
    }
    .road-map-inner {
        height: 1225px;
    }
    .marketplace-item {
        margin: 0 30px;
    }
    .marketplace-item-down img {
        max-width: 345px;
    }
    .marketplace-item-down {
        bottom: -95px;
        left: -9px;
    }
    .marketplace-item-preview {
        height: 350px;
    }
    .marketplace-wrap {
        padding-top: 65px;
        padding-bottom: 170px;
    }
    .marketplace-title {
        font-size: 40px;
    }
    .marketplace-title {

    }
    .marketplace-inner {
        margin-top: 40px;
    }
    .games {
        background-size: cover;
        padding-bottom: 300px;
        padding-top: 90px;
    }
    .games-title {
        font-size: 40px;
    }
    .games-icon-wrap {
        margin-top: 55px;
    }
    .games-item-preview {
        width: 360px;
        height: 285px;
    }
    .games-btn {
        font-size: 28px;
    }
    .partners-inner {
        padding-top: 85px;
        padding-bottom: 140px;
    }
    .partners-list img {
        max-width: 80px;
        max-height: 100px;
    }
    .footer-top {
        height: 500px;
    }
    .footer-logo img {
        max-width: 300px;
        max-height: 314px;
    }
    .footer-logo {
        padding-top: 70px;
    }
}

@media screen and (max-width: 1199px) {
    .header-numbers {
        /*margin: auto;*/
    }
    .banner {
        height: 900px;
    }
    .menu ul li a {
       /* margin: 0 12px;
        font-size: 20px;*/
    }
    .menu {
        display: none;
    }
    .header-btn-wrap {
        display: none;
    }
    .mobile-btn {
        display: flex;
    }
    .logo img {
        max-width: 90px;
        max-height: 102px;
    }
    .header-wrap {
        padding: 15px 0;
    }
    .logo-mob .logo {
        margin-bottom: 0;
    }
    .mobile-menu-wrap {
        margin-top: 25px;
    }
    .header-numbers-item {
        margin: 0 25px;
    }
    .banner-btn-wrap .main-btn {
        font-size: 22px;
        padding: 22px 70px;
    }
    .about {
        padding-bottom: 55px;
    }
    .about-light-left {
        left: 10px;
    }
    .about-light-right {
        right: 10px;
    }
    .about-title {
        font-size: 40px;
        margin-right: 0;
        text-align: center;
    }
    .about-text {
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
    }
    .about-items-wrap {
        flex-wrap: wrap;
    }
    .about-items {
        width: 100%;
        margin-left: 0;
    }
    .about-item {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .about-items-left .about-item:first-child {
        margin-bottom: 50px;
    }
    .about-items-right .about-item:first-child {
        margin-bottom: 50px;
    }
    .about-item-line {
        margin: auto;
    }
    .about-item-img {
        padding-bottom: 0;
    }
    .tokens-bg {
        display: none;
    }
    .tokens {
        padding-top: 100px;
    }
    .tokens-text br {
        display: none;
    }
    .tokens-items {
        flex-wrap: wrap;
    }
    .tokens-text {
        padding-bottom: 120px;
        margin-top: 80px;
    }
    .info-img {
        top: 12px;
    }
    .info-img img {
        max-width: 650px;
    }
    .info-text-bg {
        font-size: 46px;
    }
    .news-item {
        width: 315px;
    }
    .news-item-preview {
        height: 255px;
    }
    .news-item-title {
        /*font-size: 20px;*/
    }
    .news-item-preview-title {
        font-size: 22px;
        padding-right: 20px;
    }
    .news-item-preview-subtitle {
        padding-right: 20px;
        font-size: 20px;
    }
    .logo-token {
        background: none;
    }
    .logo-token {
        /*padding-top: 130px;*/
    }
    .logo-token-subtitle {
        margin-top: 45px;
    }
    .logo-token-list {
        margin-top: 60px;
    }
    .logo-token-img img {
        max-width: 650px;
    }
    .logo-token-img {
        /*top: 340px;*/
    }
    .logo-token {
        /*padding-bottom: 165px;*/
    }
    .road-map {
        /*margin-top: -100px;*/
        /*background-position: center top -200px;*/
    }
    .road-map-title {
        /*margin-top: 75px;*/
    }
    .marketplace-bg {
        display: none;
    }
    .marketplace {
        /*background-color: #F0F6FF;*/
        /*padding-top: 165px;*/
        /*padding-bottom: 70px;*/
        /*margin-top: -220px;*/
        z-index: 1;
    }
    .marketplace-inner {
        flex-wrap: wrap;
    }
    .marketplace-item:last-child {
        margin-top: 30px;
    }
    .games {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .games-icon-wrap {
        margin-top: 65px;
    }
    .games-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .games-inner-b {
        flex-wrap: wrap;
        justify-content: center;
    }
    .games-item {
        margin: 0 20px 40px;
    }
    .bg-btn {
        max-width: 800px;
    }
    .gate-logo.center {
        animation: animCenter 2s ease-in-out;
        left: -150%;
    }
    @keyframes animCenter {
      0% {
        left: 0;
      }
      20% {
        left: 0;
      }
      100% {
        left: -150%;
      }
    }
    .footer-menu {
        flex-wrap: wrap;
    }
    .footer-menu-item {
        padding: 15px;
    }
    .footer-soc-item img {
        width: 150px;
        height: 150px;
    }
    .banner-bottom {
        background-size: cover;
    }
}

@media screen and (max-width: 1000px) {
    .header-numbers {
        margin-left: 0;
    }
    .banner {
        height: 700px;
    }
    .banner-btn-wrap {
        left: 55px;
        bottom: 100px;
    }
    .bg-btn {
        max-width: 700px;
        margin-left: -205px;
    }
    .about {
        padding-bottom: 30px;
    }
    .about-text br {
        display: none;
    }
    .dao-text br {
        display: none;
    }
    .dao-text {
        font-size: 20px;
        padding: 0 20px;
    }
    .dao-btn-wrap {
        margin-top: 35px;
    }
    .dao-wrap {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .info-img img {
        max-width: 450px;
    }
    .info-img {
        top: 60px;
    }
    .tokens-title {
        font-size: 36px;
    }
    .info-title {
        font-size: 36px;
    }
    .news-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .news-item {
        margin: 0 15px 30px;
    }
    .news-title {
        font-size: 36px;
    }
    .new-bg-bot {
        margin-top: -275px;
    }
    .logo-token-title {
        font-size: 36px;
    }
    .tokens-text {
        padding-bottom: 90px;
    }
    .logo-token {
        /*padding-top: 85px;*/
    }
    .logo-token-img img {
        /*width: 400px;*/
    }
    .logo-token-img {
        top: 280px;
        opacity: 0.3;
    }
    .road-map-slider-wrap {
        /*width: 700px;*/
        /*height: 700px;*/
    }
    .road-map-slide-title {
        font-size: 30px;
    }
    .road-map-slider-wrap {
        padding-top: 60px;
        margin-top: 60px;
    }
    .road-map-title {
        font-size: 36px;
    }
    .road-map-slider .slick-prev, .road-map-slider .slick-next {
        top: -55px;
    }
    .road-map-slider {
        max-width: 450px;
    }
    .road-map-slide-item {
        font-size: 26px;
        margin-bottom: 12px;
    }
    .road-map-inner {
        height: 1250px;
    }
    .marketplace-wrap {
        padding-bottom: 80px;
    }
    .marketplace-title {
        font-size: 36px;
    }
    .marketplace-item {
        margin-bottom: 120px;
    }
    .marketplace {
        padding-bottom: 0;
    }
    .games-title {
        font-size: 36px;
    }
    .partners-list {
        flex-wrap: wrap;
    }
    .partners-list img {
        margin: 0 35px 70px;
    }
    .partners-inner {
        padding-bottom: 50px;
    }
    .partners-title {
        font-size: 36px;
    }
    .footer-top {
        height: 400px;
    }
    .footer-logo img {
        max-width: 235px;
        max-height: 246px;
    }
}

@media screen and (max-width: 479px) {
    #count.countdownHolder {
        margin-bottom: 3px;
    }
    #count .header-days {
        font-size: 16px;
        line-height: 17px;
        margin-left: 4px;
    }
    #count .digit {
        font-size: 18px;
        height: 20px;
        width: 11px;
    }
    #count .position {
        height: 20px;
        width: 11px;
    }
    .logo img {
        max-width: 60px;
        max-height: 68px;
    }
    .mobile-btn img {
        width: 40px;
        height: 40px;
    }
    .header-numbers-item {
        font-size: 14px;
        margin: 0 10px;
    }
    .header-numbers-item span {
        font-size: 10px;
    }
    .banner {
        height: 500px;
        min-height: 500px;
    }
    .banner-bottom {
        height: 35%;
    }
    .banner-main {
        bottom: 90px;
    }
    .banner-mars {
        height: 74%;
    }
    .bg-btn {
        display: none;
    }
    .banner-btn-wrap {
        left: 0;
        bottom: 60px;
        right: 0;
    }
    .banner-btn-wrap .main-btn {
        margin: auto;
        font-size: 18px;
        padding: 18px 72px;
        border-radius: 10px;
    }
    .about {
        padding-top: 30px;
    }
    .about-items-wrap {
        margin-top: 30px;
    }
    .about-title {
        font-size: 25px;
    }
    .about-text {
        font-size: 16px;
    line-height: 20px;
    }
    .about-light {
        top: -18px;
    }
    .about-light img {
        max-width: 200px;
    }
    .about-light-left {
        left: 0;
    }
    .about-light-right {
        right: 0;
    }
    .about-items-left .about-item:first-child {
        margin-bottom: 30px;
    }
    .about-item-line {
        max-width: 320px;
    }
    .about-item {
        margin-bottom: 30px;
    }
    .about-items-right .about-item:first-child {
        margin-bottom: 30px;
    }
    .about-item-img img {
        max-width: 320px;
    }
    .about-item-text {
        font-size: 14px;
    }
    .tokens-wrap {
        padding-top: 35px;
    }
    .tokens {
        padding-top: 60px;
    }
    .tokens-title {
        font-size: 26px;
    } 
    .tokens-items {
        margin-top: 50px;
    }
    .token-item-2 {
        margin: 0;
    }
    .tokens-text {
        margin-top: 50px;
    }
    .tokens-text {
        line-height: 28px;
    }
    .dao-text {
        font-size: 18px;
    }
    .info-title {
        font-size: 30px;
        margin: 0 10px;
        text-align: center;
    }
    .info-img {
        display: none;
    }
    .info-text {
        padding: 60px 20px;
        text-align: center;
    }
    .info-inner {
        border-radius: 30px;
    }
    .news-links a {
        font-size: 18px;
    }
    .news-title-wrap {
        flex-wrap: wrap;
    }
    .news-title {
        text-align: center;
        width: 100%;
    }
    .news-links a {
        margin: 20px 10px 0;
    }
    .news-item-title {
        font-size: 16px;
    }
    .logo-token-img img {
        display: none;
    }
    .logo-token-text br {
        display: none;
    }
    .logo-token-subtitle {
        font-size: 20px;
    }
    .logo-token-text {
        font-size: 12px;
    }
    .road-map {
        /*height: 1050px;*/
    }
    .road-map-bg-bot {
        background-size: 100%;
    }
    .road-map-title {
        margin-top: 80px;
        font-size: 28px;
    }
    .road-map-slider-wrap {
        width: 360px;
        height: 360px;
        padding-top: 20px;
        margin-top: 35px;
    }
    .road-map-slider .slick-next {
        right: -20px;
    }
    .road-map-slider .slick-prev {
        left: -20px;
    }
    .road-map-slide-title {
        font-size: 20px;
    }
    .road-map-slider .slick-prev, .road-map-slider .slick-next {
        top: -20px;
        width: 110px;
        height: 26px;
    }
    .road-map-slider {
        max-width: 220px;
    }
    .road-map-inner {
        height: 595px;
    }
    .road-map-slide-item {
        background-position: left top 4px;
        font-size: 14px;
        margin-bottom: 5px;
        background-size: 5px;
        padding-left: 10px;
    }
    .road-map-slide-body {
        margin-top: 15px;
    }
    .marketplace {
        /*padding-top: 125px;*/
    }
    .marketplace-title {
        font-size: 30px;
    }
    .games-icon-wrap {
        display: none;
    }
    .games-inner {
        margin-top: 60px;
    }
    .games-inner-b {
        margin-top: 60px;
    }
    .games-item-preview {
        width: 330px;
    }
    .overlay {
        width: 100%;
    }
    .header-numbers {
        padding: 8px 0 10px;
        max-width: 155px;
    }
    .gate-logo {
        width: 150px;
        height: 135px;
    }
    .gate-logo.center {
        animation: animCenter 2s ease-in-out;
        left: -170%;
    }
    @keyframes animCenter {
      0% {
        left: 0;
      }
      20% {
        left: 0;
      }
      100% {
        left: -170%;
      }
    }
    .footer-soc {
        flex-wrap: wrap;
    }
    .footer-soc-item img {
        width: 120px;
        height: 120px;
    }
    .footer-copy {
        text-align: center;
        font-size: 18px;
    }
    .footer-logo img {
        max-width: 250px;
    }
    .footer-top {
        height: 400px;
    }
    .footer-menu-item {
        font-size: 20px;
        margin: 0 0px;
        width: 50%;
        text-align: center;
    }
    .whitepaper {
        padding: 40px;
    }
    .fancybox-slide--html .fancybox-close-small {
        right: 16px;
    }
    .thanx-text {
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 630px) {
    
}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 374px) {
    
}
