 position : relative;
 background-image: url(../img/connect-form-bg.png);
 background-repeat: no-repeat;
 background-size: contain;
 z-index: 60;
 min-width: 280px;
 width: 350px;
 min-height: 190px;
 height: 280px;
}
 
.dao-modal-action{
 display: block !important;
}
 
.whitepaper-wrap {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 /*padding: 45px 60px;*/
 width: 280px;
 height: 190px;
}
 
.dao-modal-wrap {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 /*padding: 45px 60px;*/
 min-width: 280px;
 width: 350px;
 min-height: 190px;
 height: 250px;
}
 
.whitepaper-inner {
 
}
 
.dao-modal-inner {
 
}
 
.whitepaper-title {
 font-size: 32px;
 font-weight: 600;
 width: 100%;
 text-align: center;
}
 
.dao-modal-title {
 padding-top: 15px;
 font-size: 24px;
 font-weight: 600;
 width: 98%;
 text-align: center;
}
 
.dao-cancel{
 cursor : pointer;
 position:absolute;
 right: 0;
}
 
.whitepaper-items {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 margin-top: 30px;
}
 
.whitepaper-item {
 display: flex;
 font-weight: 500;
 margin: 0 10px;
 text-decoration: underline;
}
 
.whitepaper-title {
 font-size: 22px;
}
 
.whitepaper-title span {
